body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

#root, .App, .map{
    height: 100%;
}

.map-card {
    z-index: 999;
    position: absolute;
    height: 90vh;
    min-width: 300px;
    top: 0;
    left: 5vh;
    margin-top: 5vh;
    margin-right: 5vh;
    margin-bottom: 5vh;
}

.map-card-content {
    position: 'relative';
    height: 75%
}

.map-card-analytics {
    position: 'relative';
    height: 80%
}

.map-menu {
    z-index: 999;
    position: absolute;
    top: 2vh;
    left: 2vh;
    font-size: large;
    padding: 6px 12px;
}

.credits {
    z-index: 999;
    position: absolute;
    bottom: 20px;
    right: 8px;
    font-size: x-small;
}

.loading {
    position: absolute;
    top: 45vh;
    left: 45%
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    background-color: #2a4365 !important;
    border-color: #2a4365 !important;
    color: #ffffff !important;
}

.pop-up-header {
    margin: 0 !important;
    color: #2a4365 !important;
    font-weight: 700 !important;
}

.pop-up-body {
    margin: 0 !important;
    font-weight: 700 !important;
    font-size: large !important;
}

.close-card {
    position: absolute;
    top: 12px;
    right: 6px;
    padding: 3px 7px;
    font-size: x-small;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
background: #cccccc; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

@media (max-width: 769px) {
    .leaflet-control-zoom {
        display: none !important;
    }

    .map-card-content {
        height: 80%;
    }

    .map-card-analytics {
        position: 'relative';
        height: 90%
    }

    .map-card {
        height: calc(85vh - 80px);
        width: 320px;
        left: 4vh;
    }

    .card-bottom {
        z-index: 999;
        position: absolute;
        bottom: 0;
        height: 80px;
        padding-bottom: 30px;
    }

    .credits {
        z-index: 1100;
        bottom: 81px;
        font-size: xx-small;
    }

    .map{
        height: 90%;
    }
}

@media (max-width: 550px) {
    .loading {
        left: 33%
    }

    .map-card {
        height: calc(85vh - 80px);
        width: 85%;
        left: 4vh;
    }
}

@media (max-width: 360px) {
    .map-card {
        min-width: 280px;
        width: 290px;
        top: 0;
        left: 3.5vh;
        margin-top: 5vh;
        margin-right: 3vh;
        margin-bottom: 5vh;
    }

    .loading {
        left: 28%
    }
}