body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

#root, .App, .map{
    height: 100%;
}

.map-card {
    z-index: 999;
    position: absolute;
    height: 90vh;
    top: 0;
    left: 5vh;
    margin-top: 5vh;
    margin-right: 5vh;
}

.map-menu {
    z-index: 999;
    position: absolute;
    top: 2vh;
    left: 2vh;
    font-size: large;
    padding: 6px 12px;
}

.credits {
    z-index: 999;
    position: absolute;
    bottom: 20px;
    right: 8px;
    font-size: smaller;
}

.loading {
    position: absolute;
    top: 42%;
    left: 45%;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    background-color: #2a4365 !important;
    border-color: #2a4365 !important;
    color: #ffffff !important;
}

.pop-up-header {
    margin: 0 !important;
    color: #2a4365 !important;
    font-weight: 700 !important;
}

.pop-up-body {
    margin: 0 !important;
    font-weight: 700 !important;
    font-size: large !important;
}

.close-card {
    position: absolute;
    top: 20px;
    right: 17px;
    padding: 3px 7px;
    font-size: x-small;
}